*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-container{
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.booking-container h1{
    text-align: center;
    color: #007bff;
    margin-bottom: 25px;
}

label{
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    margin-bottom: 10px;
}

input:focus{
    border-color: #007bff;
}

button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
    transition: 0.3s;
}

@media(max-width: 480px){
    .booking-container{
        width: 90%;
    }
}